[{:adr/authoritative_for ["cloud-itonami-iso3166-{bhr,kaz,mar,gha} :implemented"
                          "cloud-itonami-iso3166-{mdv,mkd,slb,ton,tuv,wsm} blueprint scope"]
  :adr/status "accepted" :adr/id "adr-2607107400-cloud-itonami-iso3166-wave-bhr-kaz-mar-gha-batch40"
  :adr/doc_type "adr" :adr/deciders ["Jun Kawasaki"] :adr/date "2026-07-10" :db/id -1
  :adr/topic "cloud-itonami-iso3166-wave-bhr-kaz-mar-gha-batch40"
  :adr/decision-summary "{:implemented [\"BHR\" \"KAZ\" \"MAR\" \"GHA\"], :batch40 [\"MDV\" \"MKD\" \"SLB\" \"TON\" \"TUV\" \"WSM\"], :maturity {:implemented 56 :blueprint 148 :spec 23 :total 227}, :contacts 204, :iso3166-pin \"3e258df4e2b2477278b01a5341cc270447aa92d2\"}"}]
